/* header style
Navigation Bar */

body{
    background-color: #F5F5F5;
    margin-left:160px ;  
    margin-right:160px ;

}

.nav-bar{
    display: flex;
    justify-content: space-between;  
    margin-top: 30px;
}
.nav-title{
    font-weight: bold;
    font-size: 32px;
    color: #0E0E0E;
}
.nav-btn{
    border-radius: 8px;
    padding: 15px 30px;
    color: #006A50;
}

/* banner style */
.banner{
    display: flex;
    background-color: #C6E4D6;
    border-radius:24px; 
    padding: 60px ;
   justify-content: space-between; 
   height: 560px;
}
.banner-title{
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);   
}
.banner-description{
    font-weight:600px;
    font-size: 56px;
    color: #0E0E0E;
   
    
}
.ban-btn{
    color:#FFFFFF ;
   background-color: #006A50;
   border-radius:8px ;
   padding:17px 34px;
}
.banner-img{
gap: 64px;
}

/* main section-pillars style */

.pillars-heading{
    margin-top: 80px;
    font-size: 40px;
    font-weight: bold;
}
.Pillars{
    display: flex;
    margin-top: 35px; ;
    margin-bottom: 80px ;
    gap: 30px;
}
.pillars-container{
    background-color: #FFFFFF;
    border-radius: 25px;
    width: 305px;
    height: 250px;
}
.pillars-img{
    width: 60px;
    height: 60px;
    padding: 24px 0px 10px 24px ;
}
.pillars-title{
    font-size: 20px;
    font-weight:bold;
    color: #0E0E0E;
    width: 250px;
    height: 25px;
    padding:0px 20px ;
}
.pillers-description{
    font-size:16px ;
    color: rgba(14, 14, 14, 0.5);  
    padding:0px 24px 24px 24px ;
}

/* main section- vision style */

.vision-heading{
    margin-top: 80px;
    font-size: 40px;
    font-weight: bold;
}
.vision{
    display: flex;
    margin-top: 35px; ;
    margin-bottom: 80px ;
    gap: 30px;
}
.vision-container{
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 25px;
    width: 415px;
    
}
.vision-img{
    width: 60px;
    padding: 24px 0px 10px 24px ;
}
.vision-title{
    font-size: 20px;
    font-weight:bold;
    color: #0E0E0E;
    width: 250px;
    padding:0px 20px ;
}
.vision-description{
    font-size:16px ;
    color: rgba(14, 14, 14, 0.5);  
    padding:0px 24px 24px 20px ;
}
.color-2{
        background-color:#C6E4D6 ;
    }
.color-3{
    background-color: #F7EBCF;
}
.vision-btn{
    margin: 30px;
   padding: 10px;
   border-radius: 5px;
   font-size:13px;
   color: #FFFFFF;
}
.btn-1{
  background-color: #5490F5;
}
.btn-2{
    background-color: #09A15C
  }
  .btn-3{
    background-color: #FFC239
  }

/* quote section */

.quote-banner{
    background-color: #FFFFFF;
    border-radius: 16px;
    background-image: url(quote-bg.png);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position:10px 0px;
}
.quote-description{
    padding-left: 30px;
    padding-top: 25px;
    color: rgba(14, 14, 14, 0.5);

}
.advisor-name{
    padding-left:30px;
    font-weight: 600;
    font-size: 20px;
    color: #0E0E0E;
  
}
.advisor{
font-size: 16px;
color: rgba(14, 14, 14, 0.5);
padding-left: 30px;
padding-bottom:50px;
}

/* opinion section */

.opinion-heading{
    font-size: 40px;
    color: #0E0E0E;
    padding-top: 40px;
}
.opinion-container{
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 30px;
}
.opinion-title{
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D6;
    font-weight:600px;
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
}
.op-1{
    display: flex;
    justify-content: space-between;
}
.opinion-select{
    padding-top: 20px;
    gap: 10px;
}

/* satelite section */

.satelite-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.5);;
}
.satelite-banner{
    display: flex;
    background-color: #FFFFFF;
    border-radius: 24px;
    margin-bottom: 20px;
      
}
.satelite-banner-2{
    display: flex;
    background-color: #FFFFFF;
    border-radius: 24px;
    margin-bottom: 20px;
    flex-direction: row-reverse;
}
.satelite-title{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}
.satelite-container{
     padding: 30px;
     gap: 5px;
}
.stelite-btn{
    background-color: #006A50;
    border-radius: 8px;
    font-size: 15px;
    color: #FFFFFF;
    padding: 20px;
}
.satelite-img{
    padding: 48px;
    width: 400px;
   border-radius: 20px;
    
}

/* donate section */

.donate-title{
    font-size: 40px;
    color: #0E0E0E;
    padding-top: 40px;
    text-align: center;
}
.donate-discreaption{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.5);
    text-align: center;
}
.donate-container{
   display: flex;
   justify-content: space-around;
  
}
.donate{
    background-color: #FFFFFF;
    border-radius:16px;
    font-size: 30px;
    font-weight: bold;
    color:rgba(14, 14, 14, 0.8) ;
    padding: 20px;
    border: none;   
}
.donate-color{
    background-color: #C6E4D6;
}
.donate-btn{
    text-align: center;
}
.text{
    width: 600px;
    text-align: center;
    margin: 30px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.btn{
    background-color: #006A50;
    padding: 10px;
    font-size: 10px;
    color: #FFFFFF;
    border-radius: 5px;

}

/* footer section */
.suscribe-banner{
    margin: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #C6E4D6
    
    
}
.heading{
    font-size:40px;
    font-weight: bold;
}
.suscribe-title{
    font-size: 16px;
    color:rgba(14, 14, 14, 0.5); ;
}
.suscribe-btn{
    width: 600px;
    font-size: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.suscribe-btn-2{
    background-color: #006A50;
    font-size: 10px;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.span{
    color:rgba(14, 14, 14, 0.8)  ;
}
.last{
    text-align: center;
    font-size:30px;
    font-weight: bold;
}

/* hover effect */

.donate:hover{
    background-color: gray;
    cursor: pointer;  
}
.ban-btn:hover{
    background-color: gray;
    cursor: pointer;  
}
.nav-btn:hover{
    background-color: gray;
    cursor: pointer;
}
.vision-btn:hover{
    background-color: gray;
    cursor: pointer;
}
.stelite-btn:hover{
    background-color: gray;
    cursor: pointer;
}
.btn:hover{
    background-color: gray;
    cursor: pointer; 
}
.suscribe-btn-2:hover{
    background-color: gray;
    cursor: pointer; 
}


   